@keyframes gradient-x {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes float-in {
    0% {
        transform: translate(-50px, 0) rotate(0deg) scale(0.8);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translate(250px, 40px) rotate(45deg) scale(0);
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(-50%, -25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translate(-50%, 0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Helpers for SVG Dash */
.dash-anim-1 {
    animation: dash 3s linear infinite;
    stroke-dasharray: 5;
}

.dash-anim-2 {
    animation: dash 4s linear infinite;
    stroke-dasharray: 5;
}

@keyframes dash {
    to {
        stroke-dashoffset: -20;
    }
}